<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ http://csse-studweb3.canterbury.ac.nz/~avh17/365/polls/index.php/$1 [L]
</IfModule>
